
@import './fonts.scss';

$primary-color: #3141DE;
$text-color: #000000;
$bg-color-dark: #414141;
$bg-color: #FDFDFD;
$bg-light: #b6b6b6;


$mobile-width: 768px;
$tablet-width: 1024px;
$small-screen: 1200px;